.product-details-wrapper{
    padding-top: 2rem;
}
.product-img{
    flex-basis: 20%;
}

.product-img img{
    width:100%;
}

.product-details-box{
    flex-basis: 60%;
}

.product-name{
    font-size:2rem;
}

.product-price{
    margin-top: 1.2rem;
    font-size: 1.2rem;
}

.product-description{
    margin-top: 1.5rem;
}

.product-description-data{
    text-align:justify;
    line-height: 2;
}

.product-details-action{
    margin-top:1.5rem;
    width:250px;
}